*{
    padding: 0;
    margin: 0;
}

main{
    width: 600px;
    height: 600px;
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.main__cuadrado{
    width: 40%;
    height: 40%;
    background-color: chocolate;
    border: #000 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main__cuadrado--minicuadrado{
    

    width: 30%;
    height: 30%;
    background-color: crimson;
    border: #000 1px solid;
}